html, body{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/docs/assets/Icons/background.jpg);
    
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: 0% 20%;
    color: rgb(75, 74, 74);
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
}
